# Django Settings
SECRET_KEY="django-insecure-your-secret-key-here"
DEBUG=True

# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=wastemanagement
DB_USER=postgres
DB_PASSWORD=postgres

# Security Settings
ALLOWED_HOSTS=*
DOMAIN_NAME=solidwastemanagement.duckdns.org
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000


# Firebase Configuration
FIREBASE_CREDENTIALS=secret_keys/firebase_service_account_keys.json